## Web Scraping

In order to obtain zipcode data matching the businesses in my yelp business dataset, I need to scrape data in order to do that. We will scrape characteristic information about each zipcode from https://www.zipdatamaps.com

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import re

from selenium import webdriver
import os

Set up chromedriver to navigate chrome

In [2]:
chromedriver = "chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver

In this function below, we will extract Current Population, Median Household Income, Average Commute Time, Unemployment Rate from the zipcode given as an input in the function. I return a dataframe containing these figures for this particular zipcode

In [4]:
def get_data_from_zipcode(zipcode):
    url = 'https://www.zipdatamaps.com/' + zipcode
    driver = webdriver.Chrome(chromedriver)
    driver.set_page_load_timeout(20)
    driver.set_script_timeout(20)
    driver.get(url)
    flight_soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    x = flight_soup.find('h2', text = re.compile('Profile Data'))
    x_parent = x.parent.parent
    
    
    pop = x_parent.find('td', text = re.compile('Current Population')).next_element.next_element
    pop_text = pop.text
    
    median_income = x_parent.find('td', text = re.compile('Median Household Income')).next_element.next_element
    median_income_text = median_income.text
    
    
    commute = x_parent.find('td', text = re.compile('Average Commute Time')).next_element.next_element
    commute_text = commute.text
    
    unemployment_rate = x_parent.find('td', text = re.compile('Unemployment Rate')).next_element.next_element
    unemployment_rate_text = unemployment_rate.text
    
    figures  = [zipcode, pop_text, median_income_text, commute_text, unemployment_rate_text]
    col_names = ['Zip Code', 'Population', 'Median Household Income', 'Avg Commute Time', 'Unemployment Rate']
    temp = pd.DataFrame([figures], columns = col_names)
    driver.quit() 
    print('\nScraped Data Complete: ', zipcode)
    return temp

Loading up our zipcode list, from the business dataframe. We will scrape the unique zipcodes from this dataframe.

In [5]:
business_json_path = 'yelp_academic_dataset_business.json'

df_b = pd.read_json(business_json_path, lines = True)


postals = df_b['postal_code'].unique()
postals = df_b['postal_code'][~df_b['postal_code'].str.contains('[A-Za-z]')]
postals_list = postals.unique()

postals_list

array(['80302', '97218', '97214', '32763', '30316', '32804', '43206',
       '78752', '78748', '01960', '32806', '43215', '30083', '32830',
       '34746', '02148', '32809', '97222', '32836', '97210', '30305',
       '02215', '78704', '30309', '02128', '02494', '97229', '02130',
       '02115', '97230', '78735', '78741', '78759', '34711', '98660',
       '32730', '02446', '30340', '97204', '32811', '80301', '32771',
       '01803', '02134', '78701', '34786', '02169', '30345', '78705',
       '78729', '30326', '32818', '02150', '02145', '97213', '30339',
       '98665', '30318', '98685', '01907', '78745', '02465', '01887',
       '32789', '78734', '02472', '30303', '32819', '02116', '97211',
       '32725', '97215', '02136', '78610', '02139', '97217', '01867',
       '97209', '78749', '02140', '43214', '30084', '30030', '02481',
       '32703', '32779', '32780', '43219', '43223', '78731', '43068',
       '78757', '97212', '43220', '78758', '02144', '02131', '98684',
       '98662', '02459', '32714', '43123', '02189', '30308', '78747',
       '97216', '30324', '30320', '97232', '97223', '43230', '43065',
       '02451', '97086', '30328', '32746', '43147', '01906', '30329',
       '02135', '32720', '02043', '78702', '97219', '97224', '78753',
       '97206', '43229', '02184', '30341', '01923', '01821', '97205',
       '32765', '80027', '43228', '32821', '02171', '02176', '02464',
       '97220', '02467', '01760', '01970', '34747', '97015', '32801',
       '78640', '01905', '32792', '97034', '02108', '32827', '97201',
       '98683', '43204', '02072', '43232', '02129', '32839', '30338',
       '30342', '43231', '34741', '30307', '97062', '02210', '30297',
       '32814', '30067', '97035', '30337', '30306', '97006', '32796',
       '02111', '02114', '02109', '97202', '32701', '02141', '78744',
       '32837', '30080', '02453', '02127', '78723', '97027', '01778',
       '02061', '43140', '97080', '78746', '02492', '78726', '97267',
       '32807', '43221', '43235', '78739', '30093', '78737', '98611',
       '02118', '78727', '97266', '32803', '78738', '34715', '32922',
       '97227', '34744', '02138', '02132', '01801', '01915', '43125',
       '32738', '43082', '30311', '02045', '02482', '30034', '32835',
       '02021', '43016', '32750', '78620', '02368', '34759', '33837',
       '02170', '32707', '01702', '01742', '30317', '02155', '32828',
       '43202', '97255', '02124', '97008', '34787', '97231', '97239',
       '01880', '32810', '30361', '97005', '02458', '30319', '02460',
       '02180', '02370', '01890', '78756', '32808', '30032', '97045',
       '98664', '43110', '02149', '98686', '78754', '97124', '43212',
       '32708', '43015', '78736', '30312', '30354', '97225', '02420',
       '02228', '98661', '97233', '02143', '32953', '32825', '80303',
       '01902', '30349', '02110', '01721', '43035', '30346', '78703',
       '02120', '02062', '01864', '32826', '30033', '30310', '43054',
       '78660', '32832', '78750', '02142', '78712', '32822', '78728',
       '02474', '78617', '98682', '02445', '02026', '02090', '78722',
       '30315', '98663', '43081', '32824', '43213', '97068', '78724',
       '01940', '02125', '43017', '32773', '33897', '30363', '01876',
       '73301', '80304', '78641', '30021', '02455', '80026', '67439',
       '43240', '02113', '97007', '32817', '34743', '01862', '02151',
       '30327', '30304', '30331', '32757', '01949', '78742', '32805',
       '02343', '34761', '43201', '78669', '32751', '02152', '78751',
       '34714', '97203', '32713', '43205', '02478', '30039', '30035',
       '97221', '02122', '02188', '78721', '02476', '43026', '01730',
       '02461', '01901', '43207', '32732', '02186', '02421', '30360',
       '02466', '02238', '34756', '02119', '97236', '78719', '43209',
       '02493', '80503', '34771', '02025', '01945', '80305', '78730',
       '02126', '02032', '97089', '43064', '43074', '78653', '43210',
       '02301', '', '32927', '30260', '02096', '97030', '32733', '97226',
       '43062', '02112', '30322', '30344', '97238', '78732', '43031',
       '97207', '78717', '30082', '02452', '02121', '32709', '43085',
       '97003', '30126', '32764', '02199', '02081', '02190', '02191',
       '02205', '98607', '80309', '32829', '01904', '02123', '32608',
       '30301', '43119', '78665', '32812', '30038', '97280', '78725',
       '97208', '01701', '43211', '33896', '32867', '97140', '32926',
       '34769', '30334', '78652', '30071', '30332', '78760', '02052',
       '30358', '01845', '43040', '78733', '30364', '32712', '02030',
       '30002', '02137', '34758', '97294', '32820', '78028', '78645',
       '30062', '32862', '02101', '02322', '78681', '43227', '78715',
       '43224', '97258', '97242', '30006', '30333', '87124', '94103',
       '30060', '02163', '78709', '80306', '92866', '30031', '02903',
       '97292', '02454', '97078', '30313', '43222', '43136', '32754',
       '78714', '44070', '43162', '78762', '01908', '30263', '30294',
       '02303', '78680', '30314', '30144', '78798', '78708', '32776',
       '01773', '02201', '32798', '34745', '78666', '32782', '30350',
       '78130', '32766', '30092', '30081', '31136', '01810', '32885',
       '10803', '30288', '32704', '30036', '33330', '32762', '78765',
       '01754', '43203', '30336', '97075', '43004', '43216', '80403',
       '43137', '32868', '97253', '27330', '73114', '78766', '02468',
       '78768', '80308', '01913', '32752', '43112', '78799', '97123',
       '02471', '78767', '32790', '78792', '32816', '78773', '43056',
       '43126', '33765', '34772', '02462', '43270', '78248', '30076',
       '02246', '97381', '43218', '78619', '80544', '30655', '30656',
       '02027', '30079', '78634', '02117', '01805', '78664', '31132',
       '31210', '01776', '34778', '78710', '43143', '30519', '01770',
       '32896', '30028', '02339', '80016', '32952', '34760', '30085',
       '43021', '60131', '02315', '97281', '97020', '32794', '34770',
       '80516', '45459', '97293', '34773', '80455', '33616', '33844',
       '43103', '30512', '78378', '97535', '97024', '97282', '80501',
       '01841', '30355', '75749', '02302', '43109', '32878', '30253',
       '30325', '30374', '75495', '31126', '98687', '30068', '80025',
       '01826', '34755', '02133', '30680', '30228', '02095', '97290',
       '98666', '98213', '02269', '78720', '78755', '97283', '30022',
       '78613', '34742', '30321', '98208', '96227', '03017', '11225',
       '30045', '70458', '02203', '30168', '97105', '98642', '80604',
       '32815', '02456', '97720', '97055', '02475', '01966', '32859',
       '31201', '01903', '78646', '97298', '92709', '30004', '77837',
       '02018', '80028', '97070', '97076', '02216', '32833', '78713',
       '02019', '33132', '30343', '80239', '38203', '02185', '02154',
       '43116', '78132', '02050', '01888', '01604', '32795', '30152',
       '31907', '01731', '78616', '34739', '01180', '32879', '43236',
       '78764', '91730', '32955', '78774', '43046', '00961', '80021',
       '75783', '78716', '97060', '97296', '78718', '32855', '20784',
       '02222', '01984', '32856', '30012', '02767', '02213', '32861',
       '78761', '97036', '30064', '97286', '03049', '02038', '02495',
       '02211', '07203', '97077', '34712', '30517', '80307', '10977',
       '02554', '30013', '32823', '32802', '30377', '60015', '92606',
       '30444', '78860', '78644', '43146', '02066', '34734', '02067',
       '02312', '78676', '30366', '98610', '80331', '02814', '97228',
       '12115', '02187', '01822', '79748', '31107', '78260', '75204',
       '43023', '97240', '01453', '32774', '30101', '32907', '78707',
       '97049', '55912', '31193', '23234', '01950', '31106', '32753',
       '03036', '97141', '53217', '43217', '32866', '32380', '02324',
       '77401', '01813', '97323', '30274', '01824', '32747', '30132',
       '97001', '82801', '30368', '97200', '78478', '01961', '01971',
       '97004', '32854', '32793', '45026', '30043', '78711', '02657',
       '32791', '44114', '98223', '10128', '78763', '98668', '32853',
       '42539', '78778', '03060', '49202', '97268', '32877', '97501',
       '43272', '43321', '30223', '76530', '30009', '01741', '80020',
       '30187', '02457', '32710', '02447', '02098', '23000', '32872',
       '32744', '11746', '03819', '02035', '02167', '02413', '77901',
       '75745', '02094', '45322', '32787', '31139', '45503', '30005',
       '01752', '32887', '02470', '80203', '95113', '43086', '43234',
       '43225', '02153', '32783', '32772', '97251', '78602', '30348',
       '36066', '01069', '02010', '30353', '01830', '03842', '02557',
       '01886', '97269', '80202', '24590', '30362', '02051', '01866',
       '73751', '01710', '30135', '30213', '02196', '30047', '02730',
       '80002', '78017', '97167', '33473', '97032', '30029', '30046',
       '10940', '95032', '32421', '30065', '30367', '02011', '30041',
       '78626', '43018', '02601', '43002', '97009', '23502', '80010',
       '30525', '30302', '97291', '80803', '02156', '97013', '01889',
       '30606', '30061'], dtype=object)

For the purposes of this demonstration, I will scrape just the first 10 from this list.

In [6]:
postals_list_10 = postals_list[0:10]

postals_list_10

array(['80302', '97218', '97214', '32763', '30316', '32804', '43206',
       '78752', '78748', '01960'], dtype=object)

Let's run the function on this shortened list. We will loop through the list and run the function for each zipcode

In [7]:
scraped_data = pd.DataFrame()
for i in postals_list_10:
    df = get_data_from_zipcode(i)
    scraped_data = pd.concat((scraped_data,df))

Scraped Data Complete:  80302

Scraped Data Complete:  97218

Scraped Data Complete:  97214

Scraped Data Complete:  32763

Scraped Data Complete:  30316

Scraped Data Complete:  32804

Scraped Data Complete:  43206

Scraped Data Complete:  78752

Scraped Data Complete:  78748

Scraped Data Complete:  01960

In [8]:
scraped_data

,Zip Code,Population,Median Household Income,Avg Commute Time,Unemployment Rate
0,80302,26941,$45733,18.9 Minutes,4.9%
0,97218,14561,$50070,24.4 Minutes,5.0%
0,97214,23813,$48887,21.7 Minutes,5.0%
0,32763,21263,$38372,26 Minutes,5.8%
0,30316,31110,$43026,28.2 Minutes,4.2%
0,32804,17312,$56405,18.8 Minutes,5.4%
0,43206,21864,$41630,19.9 Minutes,6.0%
0,78752,18064,$36697,24.1 Minutes,3.9%
0,78748,40651,$74369,27.5 Minutes,3.9%
0,01960,50944,$71022,25.2 Minutes,5.9%

Zipcode data scrape is complete. We can move onto data cleaning/sorting as our next step.